* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.keyboard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .row {
    display: flex;

    .key {
      background-color: palegreen;
      color: coral;
      border: olivedrab 1px solid;
      .active {
        background-color: coral;
        color: palegreen;
      }  
      div {
        padding: 1em;
        font-size: 1rem;
      }
    }
  }
}
